@font-face {
    font-family: 'Her-Gilwonok';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.0/Her-Gilwonok.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    background-image: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=1380&t=st=1708010123~exp=1708010723~hmac=5a1871ab326cc6e9c48d25d17a575a4deea0a71653fe6c742884f0c39eea1c9e);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Her-Gilwonok';
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
       box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
       border-top: 30px solid #12372A;
       border-bottom: 30px solid #12372A;
       min-height: 75vh;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }
  

  .title{
    font-family: 'SUITE-Regular';
    
  }
  .input-area {
    position: relative;
  }
  .task-input {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    width: 80%;
    height: 65px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .task-input:hover{
    transform: scale(1);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
  }
  .task-input:focus {
    outline: none;
    border-bottom: 2px solid #12372A;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.5s;
    padding-top: 35px;
  }
  
  .task-input + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8f8f8f;
    font-size: 14px;
    top: 6px;
    left: 10px;
    -webkit-transition: top 0.5s ease, font-size 0.5s ease, color 0.5s ease;
    transition: top 0.5s ease, font-size 0.5s ease, color 0.5s ease;
  }
  
  .task-input:focus + label > span {
    top: 0px;
    color: #333;
  }
  
  .button-add {
    height: 65px;
    width: 85px;
    border: none;
    background-color: #ADBC9F;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  }
  .button-add:hover {
    background-color: #12372A;
    transition: 0.5s;
    color:white;
    transform: scale(1);
  }
  .button-add:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
      0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
  }
  
  .task-list-container {
    margin-top: 1em;
    position: relative;
  }
  .tab-type {
    display: flex;
    border-bottom: 2px solid #ADBC9F;
  }
  
  .tab-type div {
    padding: 1em;
    cursor: pointer;
  }
  
  #tab-underline {
    background-color: #12372A;
    height: 4px !important;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 48px;
    transition: 0.5s;
    padding: 0px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ADBC9F;
    position: relative;
  }
  .task span {
    padding: 1em;
    width: 100%;
  }
  .button-box {
    display: flex;
  }
  
  .button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
  }
  .button-box button :active {
    position: relative;
    top: 2px;
  }
  
  .button-box button:first-child:hover {
    background-color: greenyellow;
  }
  .button-box button:nth-child(2):hover {
    background-color: rgb(255, 0, 0, 0.3);
  }
  
  .fa-check {
    color: limegreen;
  }
  
  .fa-trash {
    color: red;
  }
  .fa-undo-alt {
    color: lightslategray;
  }
  
  .task-done {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
  }
  @media (min-width: 1200px){
    h1 {
        font-size: 2.5rem;
        padding: 20px;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body{
        background-image: none;
    }
    .container{
        height: 100vh;
    }
    .button-add {
        height: 65px;
        width: 50px;
        border: none;
        background-color: #ADBC9F;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      }
      .button-add:hover {
        background-color: #12372A;
        transition: 0.5s;
        color:white;
        transform: scale(1);
      }
      .button-add:active {
        background-color: #f3f4f6;
        box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
          0px 1px 1px rgba(81, 41, 10, 0.15);
        transform: translateY(0.125rem);
      }
    
    }
 
   